In [3]:
#download data from https://www.fueleconomy.gov/feg/download.shtml/ then import it by pd
#import it as CSV file 
import pandas as pd
df=pd.read_csv('./vehiclesData 1984-2024.csv')
df.head()

C:\Users\abda1\AppData\Local\Temp\ipykernel_12176\2121400853.py:4: DtypeWarning: Columns (72,74,75,77) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('./vehiclesData 1984-2024.csv')

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,27.046364,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,15.658421,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47075 entries, 0 to 47074
Data columns (total 84 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        47075 non-null  float64
 1   barrelsA08       47075 non-null  float64
 2   charge120        47075 non-null  float64
 3   charge240        47075 non-null  float64
 4   city08           47075 non-null  int64
 5   city08U          47075 non-null  float64
 6   cityA08          47075 non-null  int64
 7   cityA08U         47075 non-null  float64
 8   cityCD           47075 non-null  float64
 9   cityE            47075 non-null  float64
 10  cityUF           47075 non-null  float64
 11  co2              47075 non-null  int64
 12  co2A             47075 non-null  int64
 13  co2TailpipeAGpm  47075 non-null  float64
 14  co2TailpipeGpm   47075 non-null  float64
 15  comb08           47075 non-null  int64
 16  comb08U          47075 non-null  float64
 17  combA08          47075 non-null  int64
 18  combA08U         47075 non-null  float64
 19  combE            47075 non-null  float64
 20  combinedCD       47075 non-null  float64
 21  combinedUF       47075 non-null  float64
 22  cylinders        46423 non-null  float64
 23  displ            46425 non-null  float64
 24  drive            45889 non-null  object
 25  engId            47075 non-null  int64
 26  eng_dscr         29769 non-null  object
 27  feScore          47075 non-null  int64
 28  fuelCost08       47075 non-null  int64
 29  fuelCostA08      47075 non-null  int64
 30  fuelType         47075 non-null  object
 31  fuelType1        47075 non-null  object
 32  ghgScore         47075 non-null  int64
 33  ghgScoreA        47075 non-null  int64
 34  highway08        47075 non-null  int64
 35  highway08U       47075 non-null  float64
 36  highwayA08       47075 non-null  int64
 37  highwayA08U      47075 non-null  float64
 38  highwayCD        47075 non-null  float64
 39  highwayE         47075 non-null  float64
 40  highwayUF        47075 non-null  float64
 41  hlv              47075 non-null  int64
 42  hpv              47075 non-null  int64
 43  id               47075 non-null  int64
 44  lv2              47075 non-null  int64
 45  lv4              47075 non-null  int64
 46  make             47075 non-null  object
 47  model            47075 non-null  object
 48  mpgData          46839 non-null  object
 49  phevBlended      47075 non-null  bool
 50  pv2              47075 non-null  int64
 51  pv4              47075 non-null  int64
 52  range            47075 non-null  int64
 53  rangeCity        47075 non-null  float64
 54  rangeCityA       47075 non-null  float64
 55  rangeHwy         47075 non-null  float64
 56  rangeHwyA        47075 non-null  float64
 57  trany            47064 non-null  object
 58  UCity            47075 non-null  float64
 59  UCityA           47075 non-null  float64
 60  UHighway         47075 non-null  float64
 61  UHighwayA        47075 non-null  float64
 62  VClass           47075 non-null  object
 63  year             47075 non-null  int64
 64  youSaveSpend     47075 non-null  int64
 65  baseModel        47075 non-null  object
 66  guzzler          2753 non-null   object
 67  trans_dscr       15044 non-null  object
 68  tCharger         10121 non-null  object
 69  sCharger         1003 non-null   object
 70  atvType          5096 non-null   object
 71  fuelType2        1891 non-null   object
 72  rangeA           1886 non-null   object
 73  evMotor          2217 non-null   object
 74  mfrCode          16267 non-null  object
 75  c240Dscr         141 non-null    object
 76  charge240b       47075 non-null  float64
 77  c240bDscr        135 non-null    object
 78  createdOn        47075 non-null  object
 79  modifiedOn       47075 non-null  object
 80  startStop        15386 non-null  object
 81  phevCity         47075 non-null  int64
 82  phevHwy          47075 non-null  int64
 83  phevComb         47075 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(24)
memory usage: 29.9+ MB

In [7]:
df.c240Dscr.unique()

array([nan, 'single charger', '3.6 kW charger', 'standard charger',
       '7.2 kW charger', '6.6 kW charger'], dtype=object)