# Filter, Drop Nulls, Dedupe
Use `data_08_v2.csv` and `data_18_v2.csv`. You should've created these data files in the previous section: *Renaming Columns*.

In [490]:
# import pandas and load datasets
import pandas as pd
import numpy as np
df_08 = pd.read_csv('./data_08_v2 (1).csv')
df_18 = pd.read_csv('./data_18_v2.csv')

In [491]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [492]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,SUV,6,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no

In [493]:
# view dimensions of dataset
df_18.shape

(1611, 14)

In [494]:
df_18.head()

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,small SUV,3,19,27,22,4,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No

## Filter by Certification Region

In [495]:
# Use .query() to filter datasets for rows following California standards
# You can user the cert_region column to filter
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')
df_08.head(10)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,CA,midsize car,7,17,26,20,6,yes
8,ACURA TL,3.5,(6 cyl),Man-6,2WD,Gasoline,CA,midsize car,7,18,27,21,6,yes
14,ACURA TSX,2.4,(4 cyl),Man-6,2WD,Gasoline,CA,small car,6,19,28,22,6,no
15,ACURA TSX,2.4,(4 cyl),Auto-S5,2WD,Gasoline,CA,small car,6,20,28,23,7,yes
18,ASTON MARTIN DB9,5.9,(12 cyl),Man-6,2WD,Gasoline,CA,small car,6,10,16,12,0,no
19,ASTON MARTIN DB9,5.9,(12 cyl),Auto-S6,2WD,Gasoline,CA,small car,6,11,18,13,1,no

In [496]:
df_18.head(10)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,small SUV,3,19,27,22,4,No
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,small car,3,23,33,27,6,No
6,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,small car,3,20,32,24,5,No
8,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,CA,small car,3,21,30,24,5,No
10,ACURA TLX AWD A-SPEC,3.5,6.0,SemiAuto-9,4WD,Gasoline,CA,small car,3,20,29,23,5,No
12,ACURA TLX FWD A-SPEC,3.5,6.0,SemiAuto-9,2WD,Gasoline,CA,small car,3,20,30,23,5,No
14,ALFA ROMEO 4C,1.8,4.0,AutoMan-6,2WD,Gasoline,CA,small car,1,24,34,28,6,No
17,ALFA ROMEO Giulia,2.9,6.0,Auto-8,2WD,Gasoline,CA,midsize car,3,17,24,20,4,No
18,ALFA ROMEO Giulia,2.9,6.0,Auto-8,2WD,Gasoline,CA,midsize car,3,17,24,20,4,No

In [497]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [498]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [499]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 0 to 2400
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 1084 non-null   object
 1   displ                 1084 non-null   float64
 2   cyl                   1009 non-null   object
 3   trans                 1009 non-null   object
 4   drive                 1047 non-null   object
 5   fuel                  1084 non-null   object
 6   cert_region           1084 non-null   object
 7   veh_class             1084 non-null   object
 8   air_pollution_score   1084 non-null   object
 9   city_mpg              1009 non-null   object
 10  hwy_mpg               1009 non-null   object
 11  cmb_mpg               1009 non-null   object
 12  greenhouse_gas_score  1009 non-null   object
 13  smartway              1084 non-null   object
dtypes: float64(1), object(13)
memory usage: 127.0+ KB

In [500]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 1 to 1609
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 798 non-null    object
 1   displ                 797 non-null    float64
 2   cyl                   797 non-null    float64
 3   trans                 798 non-null    object
 4   drive                 798 non-null    object
 5   fuel                  798 non-null    object
 6   cert_region           798 non-null    object
 7   veh_class             798 non-null    object
 8   air_pollution_score   798 non-null    int64
 9   city_mpg              798 non-null    object
 10  hwy_mpg               798 non-null    object
 11  cmb_mpg               798 non-null    object
 12  greenhouse_gas_score  798 non-null    int64
 13  smartway              798 non-null    object
dtypes: float64(2), int64(2), object(10)
memory usage: 93.5+ KB

In [501]:
# drop certification region columns form both df_08 and df_18 datasets
# you no longer this column since all data should now 
# be filtered by California
df_08.drop('cert_region',axis=1,inplace=True)
df_18.drop('cert_region',axis=1,inplace=True)

In [502]:
df_08.shape

(1084, 13)

In [503]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values
As a reminder, you can use the `.isnull()` method to view how many null values are in each column.  
To count every null from every column, sum the values returned from `.isnull()` by using `.sum()` to return a total count.

In [504]:
# view missing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [505]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [506]:
# drop rows with any null values in both datasets
df_08.dropna(how='any',axis=0,inplace=True)
df_18.dropna(how='any',axis=0,inplace=True)

In [507]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum()

model                   0
displ                   0
cyl                     0
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [508]:
df_08.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
6,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
7,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [509]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data
Check if there are duplicate values in your DataFrames by using the `.duplicated()` function. Read more on the functionality [here](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html).

In [510]:
# print number of duplicates in 2008 
# remember to use .sum() on the retured values from .duplicated() to count all total duplicates.
df_08.duplicated().sum()

23

In [511]:
# print number of duplicates in  2018 datasets
df_18.duplicated().sum()

3

In [512]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [517]:
# print number of duplicates again to confirm dedupe - should both be 0
print(df_08.duplicated().sum())
print(df_08.duplicated().sum())

0
0

In [518]:
# save progress for the next section
df_08.to_csv('data_08_v3.csv', index=False)
df_18.to_csv('data_18_v3.csv', index=False)