# Inspecting Data Types
Use the space below to explore `data_08_v3.csv` and `data_18_v3.csv` to answer the quiz questions below regarding datatypes. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

Hint: Use `.unique()` for the columns in question to get a better understanding of what values are present. Read more [here](https://pandas.pydata.org/docs/reference/api/pandas.Series.unique.html#).

In [243]:
# import pandas and read the two data csvs
import pandas as pd

fuel_08_df =pd.read_csv('./data_08_v3.csv')
fuel_18_df =pd.read_csv('./data_18_v3.csv')

In [244]:
# Find the data types in fuel_08_df
fuel_08_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 986 non-null    object
 1   displ                 986 non-null    float64
 2   cyl                   986 non-null    object
 3   trans                 986 non-null    object
 4   drive                 986 non-null    object
 5   fuel                  986 non-null    object
 6   veh_class             986 non-null    object
 7   air_pollution_score   986 non-null    object
 8   city_mpg              986 non-null    object
 9   hwy_mpg               986 non-null    object
 10  cmb_mpg               986 non-null    object
 11  greenhouse_gas_score  986 non-null    object
 12  smartway              986 non-null    object
dtypes: float64(1), object(12)
memory usage: 100.3+ KB

In [245]:
fuel_08_df.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,SUV,7,15,20,17,4,no
1,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,SUV,7,17,22,19,5,no
2,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,midsize car,7,16,24,19,5,no
3,ACURA TL,3.2,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,18,26,21,6,yes
4,ACURA TL,3.5,(6 cyl),Auto-S5,2WD,Gasoline,midsize car,7,17,26,20,6,yes

In [246]:
# Find the data types in fuel_18_df
fuel_18_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 794 entries, 0 to 793
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   model                 794 non-null    object
 1   displ                 794 non-null    float64
 2   cyl                   794 non-null    float64
 3   trans                 794 non-null    object
 4   drive                 794 non-null    object
 5   fuel                  794 non-null    object
 6   veh_class             794 non-null    object
 7   air_pollution_score   794 non-null    int64
 8   city_mpg              794 non-null    object
 9   hwy_mpg               794 non-null    object
 10  cmb_mpg               794 non-null    object
 11  greenhouse_gas_score  794 non-null    int64
 12  smartway              794 non-null    object
dtypes: float64(2), int64(2), object(9)
memory usage: 80.8+ KB

In [247]:
fuel_18_df.head()

,model,displ,cyl,trans,drive,fuel,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,small SUV,3,20,28,23,5,No
1,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,small SUV,3,19,27,22,4,No
2,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,small car,3,23,33,27,6,No
3,ACURA TLX,3.5,6.0,SemiAuto-9,2WD,Gasoline,small car,3,20,32,24,5,No
4,ACURA TLX,3.5,6.0,SemiAuto-9,4WD,Gasoline,small car,3,21,30,24,5,No


#### What is different between the two datasets for the `cyl` column? What would you change?

fuel_08_df['cyl'] == Object data type

fuel_18_df['cyl'] == float data type 

we must change fuel_08_df['cyl'] to be float data type

In [248]:
# Find the unique values in cyl for fuel_08_df
 

fuel_08_df['cyl'] = fuel_08_df['cyl'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)
fuel_08_df['cyl'].unique()

array([ 6,  4, 12,  8, 10, 16,  5,  2])

In [249]:
# Find the unique values in cyl for fuel_18_df
fuel_18_df['cyl']=fuel_18_df['cyl'].astype('int64')
fuel_18_df['cyl'].unique()

array([ 6,  4,  5, 12, 16,  8,  3], dtype=int64)

Use the information from these cells to answer the first quiz question.

#### What is different between the two datasets for the `air_pollution_score` column? What would you change?

fuel_08_df['air_pollution_score'] == Object data type

fuel_18_df['air_pollution_score'] == int64 data type 

we must change fuel_08_df['air_pollution_score'] to be int64 data type

In [250]:
# Find the unique values in air_pollution_score for fuel_08_df
fuel_08_df['air_pollution_score']=fuel_08_df['air_pollution_score'].replace('/','.',regex=True).astype('float64')

fuel_08_df['air_pollution_score'].unique()

array([7. , 6. , 9.5, 9. , 6.4])

In [251]:
# Find the unique values in air_pollution_score for fuel_18_df
fuel_18_df['air_pollution_score']=fuel_18_df['air_pollution_score'].astype('float64')
fuel_18_df.air_pollution_score.unique()

array([3., 1., 7., 5., 6.])

Use the information from these cells to answer the second quiz question.

#### Look at the data types for all of the `*_mpg` columns for both datasets. What type are they? What would you change?

In [252]:
# Find the unique values in city_mpg for fuel_08_df to see an example of their data type
fuel_08_df['city_mpg']=fuel_08_df['city_mpg'].replace('/','.',regex=True).astype('float64')
fuel_08_df.city_mpg.unique()

array([15.  , 17.  , 16.  , 18.  , 19.  , 20.  , 10.  , 11.  , 12.  ,
       13.  , 21.  , 22.  , 14.  , 23.  ,  9.  ,  8.  , 24.  , 34.  ,
       29.  , 25.  , 26.  , 40.  , 27.  , 28.  , 13.18, 35.  , 33.  ,
       48.  ])

In [253]:
# Find the unique values in city_mpg for fuel_18_df to see an example of their data type
fuel_18_df['city_mpg']=fuel_18_df['city_mpg'].replace('/','.',regex=True).astype('float64')

fuel_18_df.city_mpg.unique()

array([20.   , 19.   , 23.   , 21.   , 24.   , 17.   , 26.   , 22.   ,
       25.   , 27.   , 12.   ,  9.   , 28.66 , 27.7  , 27.66 , 16.   ,
       25.62 , 18.   , 14.   , 15.   , 13.   , 29.   , 31.   , 30.   ,
       28.   , 14.18 , 49.   , 12.18 , 12.17 , 12.16 , 11.16 , 43.113,
       14.19 , 13.18 , 43.102, 43.   , 33.   , 32.   , 15.21 , 14.21 ,
       20.59 , 10.   , 17.24 , 17.23 , 28.63 , 37.   , 35.   , 40.   ,
       51.   , 44.   , 48.   , 34.   ,  9.13 , 26.7  , 26.6  , 26.63 ])

Use the information from these cells to answer the third quiz question.

#### What is different between the two datasets for the `greenhouse_gas_score` column? What would you change?

Note: according to the [EPA website](https://www.epa.gov/greenvehicles/greenhouse-gas-rating), greenhouse gas ratings should be integers.

In [254]:
# Find the unique values in greenhouse_gas_score for fuel_08_df
fuel_08_df['greenhouse_gas_score']=fuel_08_df['greenhouse_gas_score'].replace('/','.',regex=True).astype('float64')
fuel_08_df.greenhouse_gas_score.unique()

array([ 4. ,  5. ,  6. ,  7. ,  0. ,  1. ,  3. ,  2. ,  8. ,  9. , 10. ,
        7.6])

In [255]:
# Find the unique values in greenhouse_gas_score for fuel_18_df
fuel_18_df['greenhouse_gas_score']=fuel_18_df['greenhouse_gas_score'].astype('float64')
fuel_18_df.greenhouse_gas_score.unique()

array([ 5.,  4.,  6.,  7.,  2.,  1., 10.,  3.,  9.,  8.])

Use the information from these cells to answer the fourth quiz question.